
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("https://img.freepik.com/premium-photo/pink-beauty-background-with-facial-cosmetic-makeup-products-free-space-text-copy-space_429124-159.jpg?w=996");
    background-repeat: no-repeat;
    
    background-size: cover;
}


#main{
    /* border: 1px solid red; */
    padding: 2% 0 0 15%;
}


#main  img{
    height: 80px;
    width:250px;
    margin-left: 10%;
    margin-bottom: 10px;
}

#signup{
    background-color: white;
    width: 500px;
    border-radius: 10px;
}

.container {
    padding: 16px;
    background-color: white;
    border: 3px solid #fc2779;
    border-radius: 10px;
    width: 100%;
   
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  h1{
    color: black;
  }

  label{
    font-size: 20px;
  }
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #fc2779;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #fc2779;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 17px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  




